html {
  height: 100%;
  width: 100%;
}
body {
  background: rgb(2,0,36);
  background: rgb(2,0,36);

  
  background-size: 3000px 3000px;
  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;

  }
h1 {
  color: white;
  font-family: Verdana;
}

h2 {
  color: white;
  font-family: Verdana;
}
button {
  background-color: #db4d00;
  font-color: white
  
}
p {
  color: white;
  font-family: Verdana;
}

h3 {
  color: white;
  font-family: Verdana;
}
/* link colour*/
a {
  color: white;
  font-family: Verdana;
}
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #00ffe1;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #0f0f0f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  /* UI Bar Logo Placement */
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  {
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
      font-size: 16px;
  }
  body {
      background-color: #435165;
 