html {
  height: 100%;
  width: 100%;
}
body {
  background: rgb(0, 0, 0);
  background: rgb(2,0,36);
  background: linear-gradient(171deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(9,18,127,1) 38%, rgb(98, 190, 209) 100%);
  
  background-size: 3000px 3000px;
  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;

  }
h1 {
  color: rgb(253, 253, 253);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
}

h2 {
  color: white;
  font-family: Verdana;
}
button {
  background-color: #db4d00;
  font-color: white
  
}
p {
  color: white;
  font-family: Verdana;
}

h3 {
  color: white;
  font-family: Verdana;
}
/* link colour*/
a {
  color: white;
  font-family: Verdana;
}
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #00ffe1;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #0f0f0f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  /* UI Bar Logo Placement */
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  {
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
      font-size: 16px;
  }
  body {
      background-color: #435165;
  }
  .login {
      width: 400px;
      background-color: #ffffff;
      box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
      margin: 100px auto;
  }
  .login h1 {
      text-align: center;
      color: #5b6574;
      font-size: 24px;
      padding: 20px 0 20px 0;
      border-bottom: 1px solid #dee0e4;
  }
  .login form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;
  }
  .login form label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #3274d6;
      color: #ffffff;
  }
  .login form input[type="password"], .login form input[type="text"] {
      width: 310px;
      height: 50px;
      border: 1px solid #dee0e4;
      margin-bottom: 20px;
      padding: 0 15px;
  }
  .login form input[type="submit"] {
      width: 100%;
      padding: 15px;
    margin-top: 20px;
      background-color: #3274d6;
      border: 0;
      cursor: pointer;
      font-weight: bold;
      color: #ffffff;
      transition: background-color 0.2s;
  }
  .login form input[type="submit"]:hover {
    background-color: #2868c7;
      transition: background-color 0.2s;
  }